body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    background: url(../images/background-2.png) 50% 50%;
    background-size: cover;
    font-family: "Montserrat",sans-serif;
}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: azure;
}
.container h1{
    text-transform: uppercase;
    font-size: 60px;
    margin: 20px;
    letter-spacing: 10px;
    -webkit-text-stroke: 3.5px black;
}
.container h2{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    -webkit-text-stroke: 0.5px black;
}
.container h4{
    margin: 0;
    font-weight: 500;
    font-style: italic;
    -webkit-text-stroke: 0.5px black;
}
.count{
    margin: 40px 0;
}
.countd{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid;
    margin: 0 30px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
}
.countd span{
    display: block;
    font-size: 26px;
    margin-top: 14px;
}
